#human-buttons {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	float: left;
	margin: 10px;
}

#human-form {
	position: relative;
	float: right;
	margin: 10px;
}

#gif-dump {
	position: absolute;
	left: 0px;
	float: left;
	margin: 10px;
}

#spot-form {
	position: relative;
	float: right;
	margin-right: 100px;
}

button {
	margin: 2.5px;
}

header {
	position: relative;
	height: 15%;
	border-bottom: 4px;
	border-color: rgb(209, 22, 22);
	background-color: rgba(43, 32, 31, 0.568);
}

section {
	position: relative;
	/* left: 0px; */
	padding: 30px;
	margin: 5% 25% 5% 25%;
	width: 50%;
}



/* p {
	position: absolute;
}

.new-gif {
	position: relative;
	margin: 10px;
	padding: 5px;
	border-color: darkgrey;
	border-style: solid;
}


.gif {
	margin: 5px;
	position: absolute;
} */