#human-buttons {
	top: 0;
	left: 0;
	display: inline-block;
	float: left;
	margin: 10px;
}

#human-form {
	position: relative;
	float: right;
	margin: 10px;
}

#gif-dump {
	position: absolute;
	left: 0px;
	float: left;
	margin: 10px;
}

button {
	margin: 2.5px;
}

header {
	height: 15%;
	border-bottom: 4px;
	border-color: darkgray;
	background-color: salmon;
}

section {
	position: relative;
	left: 0px;
	padding: 30px;
	margin: 20px;
}